body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
}
 
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    font-weight: 300;
}

p {
    font-size: 21px;
    color: grey;
}

a{
    color: aquamarine;
    font-size: 16px;

}

p.copyright {
    text-align: right;
}